@inherits LayoutComponentBase


<div id="top" data-spy="scroll" data-target=".navbar" data-offset="260">
    <Header/>
    <br />
    <br />
    <br />
    @Body
    <Footer/>
    <RadzenDialog/>
    <RadzenNotification/>
</div>

