@page "/"
<RentACar.Client.Pages.OnePage.Teaser />
<ServiceComponent />
<NewsLetter/>
<Vehicles/>
<Reviews/>
<Information/>
<Partners/>
<Contact/>
<Location/>

<a href="" class="scrollup">ScrollUp</a>
