<section id="newsletter" class="wow slideInLeft" data-wow-offset="300">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><div class="alert hidden" id="newsletter-form-msg"></div></div>
            <div class="col-md-7">
               
 @*                <div class="clearfix"></div> *@
            </div>
        </div>
    </div>
</section>
@code{

}